*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css RESET*/

/*-------------------------------------------------------------------------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: "Tempus Sans ITC";
    src:url("../fonts/TEMPSITC.TTF");
}

@font-face{
    font-family: "Blue Highway";
    src: url("../fonts/blue\ highway\ rg.ttf");
}


main, header, footer{
	margin: 0 auto;
	overflow: hidden;
	max-width: 1920px;  
}

img{
	max-width: 100%;
}

h1, h2{
    font-family: "Tempus Sans ITC";
}

h3, a{
    font-family: "Blue Highway";
}

p{
    font-family: "Tahoma";
}

#hero{
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
	height: 100vh;
}

#logo{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: center;
    align-items: center;
}

#logo img{
    width: 13%;
    border-radius: 50%;
}

#mobile i{
    display: none;
}

#mobile ul{
    display: grid;
    grid-template-columns: repeat(6, 15%);
	justify-content: center;
	justify-items: center;
}

#mobile a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

#intro{
    padding: 18% 0% 0% 2%;
}

#intro h1{
    color: white;
    font-size: 5em;
}

#aboutme{
	max-width: 100%;
}

#text{
	width: 48%;
    text-align: center;
    margin: 13% 0% 13% 26%;
}

#text h2{
	font-size: 2.5em;
    margin: 0% 0% 11% 0%;
    text-transform: uppercase;
    color: rgb(25 25 25);
}

#text p{
	font-size: 1em;
	line-height: 1.7em;
	color: rgba(85, 85, 85, 1);
}

#ToS{
	display: grid;
    margin-top: 10%;
    background-color: rgba(249, 249, 249, 1);
    grid-template-columns: repeat(2, 50%);
}

#img_izq, #img_der{
	position: relative;
}

#img_izq h2{
    position: absolute;
    color: white;
    font-size: 3em;
    top: 50%;
    left: 23%;
}

.img_izq img{
	display: block;
	width: 100%;
}

.lista{
    display: grid;
    grid-template-rows: repeat(11, 85px);
    background-color: rgba(249, 249, 249, 1);
    padding-top: 5%;
    align-items: center;
}

.izq{
    padding-left: 10%;
}

.izq i{
	color: rgba(182, 142, 83, 1);
    font-size: 0.7em;
    padding-right: 5%;
    float: left;
}

.der{
	width: 76%;
    float: left;
}

.der h2{
    padding-bottom: 3%;
    font-size: 1.3em;
    color: rgba(51, 51, 51, 1);
    text-transform: uppercase;
}

.der p{
    font-size: 0.97em;
    color: rgba(150, 150, 150, 1);
    line-height: 18px;
}

#commission{
    width: auto;
    height: 100vh;
    background-image: url(../images/comm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#commission h2, #payment h2, #shop h2{
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 7% 0% 8% 0%;
    color: rgb(25 25 25);
}

.container{
	display: grid;
    grid-template-columns: repeat(5, 17%);
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding-bottom: 7%;
}

.forcomm{
    width: 62%;
    background-color: white;
    padding: 10% 5% 10% 5%;
    border-radius: 8%;
}

.container i{
    font-size: 3.5em;
    padding: 10% 0% 20% 0%;
    color: dimgrey;
}

.container h3{
    font-size: 1.3em;
    padding-bottom: 4%;
    color: #211e1e;
}

.container p{
    font-size: 0.8em;
    color: #404040;
}

#commission a{
    padding: 1%;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #000000;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 3%;
    font-size: 0.8em;
    position: absolute;
    left: 42%;
}

#commission a:hover{
	background-color: white;
  	color: black;
  	transform: translateY(-7px);
  	border: 2px solid #000000;
  	border-radius: 3%;
}

#myForm{
    width: 55%;
    background-color: white;
    border-radius: 5%;
    display: none;
    margin: 0 auto;
    padding: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 5%;
}

label, select[name="sexo"]{
    grid-column: 1/2;
    font-family: "Blue Highway";
}

input[type="text"]{
    grid-column: 2/3;
    font-family: "Tahoma";
}

textarea{
    grid-column: 1/3;
    font-family: "Tahoma";
}

input[type="submit"]{
    grid-column: 1/4;
    padding: 2%;
    font-family: "Blue Highway";
    background-color: black;
    color: white;
    border-color: white;
    width: 25%;
    margin: 0 auto;
    margin-top: 3%;
}

#myForm input[type="text"], input[type="email"], select{
    border-bottom: 1px solid #c1c1c1;
    background: transparent;
}

#fname-error, #email-error, #sexo-error, #comentarios-error{
    grid-column: 3/3;
    align-items: center;
    justify-items: center;
    display: grid;
}

.responseForm{
    padding-left: 2%;
    font-weight: 600;
    margin-top: 1%;
    color: #404040;
    text-transform: uppercase;
}

#api h2{
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 7% 0% 8% 0%;
    color: rgb(25 25 25);
}

.treecircles{
	display: grid;
    grid-template-columns: repeat(3, 22%);
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 30px;
    padding-bottom: 7%;
}

.treecircles img{
    border-radius: 50%;
    width: 55%;
}

.treecircles p{
    line-height: 18px;
}

.treecircles h3{
    font-size: 1.5em;
    padding: 4% 0% 7% 0%;
}

#showcase{
    width: auto;
    height: 100vh;
}

#showcase img{
    width: 90%;
    height: 90%;
}

#menucateg{
    display: grid;
    grid-template-columns: repeat(4, 10%);
    justify-items: center;
    padding: 3.5% 0% 4.5% 2%;
}

#menucateg a{
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

.exampleS, .exampleI, .exampleC, .exampleE{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    justify-items: center;
}

.exampleS h2, .exampleI h2, .exampleC h2, .exampleE h2{
    font-size: 2.5em;
    grid-column: 1/3;
    text-align: center;
    padding: 2% 0% 2% 0%;
}

.exampleS p, .exampleI p, .exampleC p, .exampleE p{
    grid-column: 1/3;
    text-align: center;
    line-height: 20px;
}

.exampleE img{
    grid-column: 1/3;
    width: 65%;
}


#shop{
    background-color: rgb(228 228 228);
}

#row{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-content: center;
    justify-items: center;
    column-gap: 15px;
    padding-bottom: 5%;
}

#row:after {
   content: "";
   display: table;
   clear: both;
}

/*Tres columnas que están una al lado de la otra*/
.column {   
   padding: 1%;
}

.column:hover{
   cursor: pointer;
}

/*El fondo*/
#light {
   position: fixed;
   z-index: 1;
   padding-top: 5%;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.733);
}

#light p{
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 3%;
}

#x{
   text-decoration: none;
   color: white;
   position: absolute;
   top: 5%;
   left: 90%;
   font-size: 1.7em;
   cursor: pointer;
}

#imagen{
   margin: 0 auto;
   display: block;
   width: 65%;
}

#title{
   padding: 2% 0% 3% 0%;
   color: white;
}

.fuente{
   width: 45%;
   margin: auto;
}

.bye{
    display: none;
}

.hi{
    display: block;
}

#DA{
    background-image: url(../images/DA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

#DeviantArt{
    color: white;
    font-size: 2em;
    padding: 10% 0% 15% 8%;
}

#DeviantArt a{
	padding: 1%;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #000000;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 3%;
    font-size: 0.7em;
}

#DeviantArt a:hover{
	background-color: white;
  	color: black;
  	transform: translateY(-7px);
  	border: 2px solid #000000;
  	border-radius: 3%;
}

#DeviantArt h2{
    margin-bottom: 13%;
    font-size: 1.5em;
}

/*-----------------------------------------------------*/
/*------------------------MOBILE-----------------------*/
/*-----------------------------------------------------*/

@media only screen and (max-width: 720px){

    #logo{
        padding: 50% 0% 0% 0%;
    }

    #logo img{
        width: 80%;
    }

    #mobile{
        padding-left: 7%;
        position: absolute;
        top: 5%;
        left: 0;
    }

    #mobile i{
        display: block;
        font-size: 2em;
        padding-bottom: 20%;
    }

    #mobile ul{
        transition: 1s ease-in-out;
        display: grid;
        grid-template-rows: repeat(6, 60px);
        grid-template-columns: none;
        display: none;
    }

    #mobile li{
        padding: 10%;
        background-color: rgba(105, 105, 105, .8);
    }

    #mobile a{
        color: white;
        text-decoration: none;
        font-size: 1.3em;
        background-color: rgba(105, 105, 105, 0.5);
    }

    #text{
        width: 81%;
    }

    #text h2{
        font-size: 3.5em;
    }

    #text p{
        font-size: 1.5em;
    }

    #ToS{
        grid-template-columns: repeat(1, 100%);
    }

    #img_izq{
        display: none;
    }

    .lista{
        grid-template-rows: repeat(11, 105px);
    }

    .der p {
        font-size: 1.4em;
    }

    #commission{
        height: auto;
    }

    #commission h2, #payment h2, #shop h2 {
        font-size: 3em;
        padding: 13% 0% 13% 0%;
    }

    .container{
        display: grid;
        grid-template-rows: repeat(5, 18%);
        grid-template-columns: none;
        justify-content: center;
        justify-items: center;
        row-gap: 40px;
    }

    .container i {
        font-size: 5em;
    }

    .container h3 {
        font-size: 2em;
    }

    .container p {
        font-size: 1.5em;
    }

    .forcomm {
        width: 51%;
    }

    .treecircles {
        display: grid;
        grid-template-rows: repeat(3, 30%);
        grid-template-columns: none;
        justify-content: center;
        justify-items: center;
        row-gap: 40px;
    }

    .treecircles img{
        width: 45%;
    }

    .treecircles article{
        width: 85%;
    }

    .treecircles h3{
        font-size: 2em;
    }

    .treecircles p{
        font-size: 1.2em;
    }

    #row{
        display: grid;
        grid-template-columns: repeat(2,49%);
        justify-content: center;
        justify-items: center;
        column-gap: 15px;
    }

    #light{
        padding-top: 43%;
    }

    #x{
        font-size: 3em;
    }

    #light p {
        font-size: 2.3em;
    }

    #DA{
        height: auto;
    }

    #DeviantArt a{
        padding: 2%;
        font-size: 1em;
    }
}